---
import Default from '../layouts/DefaultLayout.astro';
---

<Default>
	<main class="container prose mx-auto px-4 pb-2 pt-8">
		<h1>Thomas uses…</h1>
		<p>This is my contribution to <a href="https://uses.tech" target="_blank">uses.tech</a>.</p>
		<h2>Computers</h2>
		<p>
			At home, I use an Intel Mac mini with a <a
				href="https://www.microsoft.com/en/accessories/products/keyboards/sculpt-ergonomic-desktop"
				>Microsoft Sculpt Ergonomic keyboard</a
			> with a <a href="https://www.logitech.com/en-us/products/mice/mx-vertical-ergonomic-mouse.910-005447.html"
				>Logitech MX Vertical mouse</a
			>.
		</p>
		<p>At work, we have to use Dell laptop with Windows and Norwegian keyboard. It’s not easy every day 💩.</p>
		<h2>Editor + Terminal</h2>
		<p>
			<a href="https://code.visualstudio.com">Visual Studio Code</a>, <a href="https://iterm2.com">iTerm2</a>, and <a
				href="https://starship.rs">starship for ZSH</a
			>.
		</p>
		<p>Most of the configuration is the default one, except that I moved the primary sidebar of Code to the right.</p>
	</main>
</Default>
